:root {
  --blue-color:   #3293cf;
  --white-color: #e7d4d4;
}

body {
  background-color: var(--blue-color);
  color: var(--white-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}